body {
    background-color: rgb(219, 187, 250);
    margin-left: 3rem;
}

.lista {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
}

h1 {
    font-size: 3rem;
    font-family: "roboto slab", serif;
    color: rgb(53, 6, 97);
}